clients/mhz/portal-pantallas-calidad.json
[{"id":"a07ee867.12f5c8","type":"tab","label":"Portal Pantallas Calidad","disabled":false,"info":"Registra el paso de tags por el portal y \ngenera datos para las pantallas en tiempo real"},{"id":"8a8afe39.6425c","type":"function","z":"a07ee867.12f5c8","name":"Days Counter","func":"msg.socketIOEvent = 'days quality';\nif(msg.payload.length > 0){\n    msg.payload = {\n        message: msg.payload[0]\n    };\n    RED.util.setMessageProperty(msg, \"socketIOEmit\", \"emit\", true);\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":2089.333251953125,"y":283.00000762939453,"wires":[["83cca1e2.a16e7"]]},{"id":"ca6fac92.f38bc","type":"function","z":"a07ee867.12f5c8","name":"Save EPCs","func":"if(msg.req.body){\n    var obj = msg.req.body;\n    msg.payload = obj;\n    if(msg.payload.readings.length > 0){\n        var mac = msg.payload.mac_address;\n        var date = msg.payload.timestamp;\n        var query = \"INSERT INTO epcs (epc,u_memory,tid,mac,date) VALUES\\n\";\n        for(var i=0; i< msg.payload.readings.length; i++){\n            if(i == (msg.payload.readings.length -1)){\n                query = query + \"('\" + msg.payload.readings[i].epc + \"','\" + msg.payload.readings[i].user_memory + \"','\" + msg.payload.readings[i].tid + \"','\" + mac + \"',\" + date + \");\";\n            }else{\n                query = query + \"('\" + msg.payload.readings[i].epc + \"','\" + msg.payload.readings[i].user_memory + \"','\" + msg.payload.readings[i].tid + \"','\" + mac + \"',\" + date + \"),\\n\";    \n            }\n        }\n        msg.topic = query; \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":153.6666717529297,"wires":[["2c92b93a.643086"]]},{"id":"26d4f5e9.8a97fa","type":"sqliteapes","z":"a07ee867.12f5c8","mydb":"afd2a436.1513e8","name":"CellsTables","x":987.6666259765625,"y":327,"wires":[["8d230d53.66aef"]]},{"id":"2c92b93a.643086","type":"sqliteapes","z":"a07ee867.12f5c8","mydb":"afd2a436.1513e8","name":"EPCsTable","x":427,"y":165.33334350585938,"wires":[["3b30a158.fdabde"]]},{"id":"de2ca758.b02028","type":"debug","z":"a07ee867.12f5c8","name":"Message","active":true,"console":"false","complete":"true","x":633.3333129882812,"y":136,"wires":[]},{"id":"3b30a158.fdabde","type":"switch","z":"a07ee867.12f5c8","name":"RouteResults","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":452.0000305175781,"y":281,"wires":[["de2ca758.b02028"],["41cacadb.01ef04"]]},{"id":"21571096.05166","type":"function","z":"a07ee867.12f5c8","name":"Get Cells","func":"msg.topic = \"\";\nif(msg.payload.readings.length > 0){\n    msg.data = msg.payload;\n    var query = \"SELECT * FROM cells WHERE\";\n    for(var i=0; i < msg.payload.readings.length; i++){\n        if(i === 0){\n            query = query + \" id=\"+ msg.payload.readings[i].cell;\n        }else if(i == (msg.payload.readings.length-1)){\n            query = query + \" OR id=\"+ msg.payload.readings[i].cell + \";\";\n        }else {\n            query = query + \" OR id=\"+ msg.payload.readings[i].cell;\n        }\n        \n    }    \n     \n    msg.topic = query; \n}\nreturn msg;","outputs":1,"noerr":0,"x":817,"y":383.6666564941406,"wires":[["26d4f5e9.8a97fa"]]},{"id":"8d230d53.66aef","type":"function","z":"a07ee867.12f5c8","name":"Count Cell","func":"msg.topic = [];\nif(msg.payload.length > 0){\n    for (var i = 0; i < msg.payload.length; i++) {\n        for (var j = 0; j < msg.data.readings.length; j++) {\n            if(msg.data.readings[j].cell === msg.payload[i].id){\n                msg.payload[i].day_i++;\n                msg.payload[i].month_i++;\n                msg.payload[i].year_i++;\n            }\n            if(j === (msg.data.readings.length -1)){\n                var q = \"UPDATE cells SET day_i = \" + msg.payload[i].day_i + \", month_i = \" + msg.payload[i].month_i + \", year_i = \" + msg.payload[i].year_i + \" WHERE id=\"+ msg.payload[i].id + \";\";\n                msg.topic.push(q);\n            }\n        }\n        if(i === (msg.payload.length - 1)){\n            return msg;\n        }\n    }\n}\n","outputs":1,"noerr":0,"x":1131.666748046875,"y":408,"wires":[["a99357f3.7f2928"]]},{"id":"f04eadd3.1fe48","type":"switch","z":"a07ee867.12f5c8","name":"RouteResults","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1300.333251953125,"y":209,"wires":[["a29f65c0.11b188"],["464ad2e7.0b982c"]]},{"id":"a29f65c0.11b188","type":"debug","z":"a07ee867.12f5c8","name":"Message","active":true,"console":"false","complete":"true","x":1556.3333740234375,"y":163.33332061767578,"wires":[]},{"id":"a99357f3.7f2928","type":"sqliteapes","z":"a07ee867.12f5c8","mydb":"afd2a436.1513e8","name":"CellsCount","x":1277,"y":308.3333435058594,"wires":[["f04eadd3.1fe48"]]},{"id":"464ad2e7.0b982c","type":"function","z":"a07ee867.12f5c8","name":"Sum Cells","func":"msg.topic = \"\";\nvar msg_1 = {};\nvar msg_2 = {};\nvar msg_3 = {};\nif(msg.payload.length > 0){\n    \n    var query_1 = \"SELECT sum(day_i) AS 'total_day' FROM cells ;\";\n    msg_1.topic = query_1;\n    msg_1.payload = msg.payload;\n    msg_1.socketIOEvent = msg.socketIOEvent;\n    msg_1.data = msg.data;\n}\nreturn msg_1;\n","outputs":"1","noerr":0,"x":1477,"y":404.9999694824219,"wires":[["6eac60a7.abfb3"]]},{"id":"8d294a96.cbdb98","type":"debug","z":"a07ee867.12f5c8","name":"Message","active":true,"console":"false","complete":"true","x":2065,"y":390,"wires":[]},{"id":"83cca1e2.a16e7","type":"socketio-apes-out","z":"a07ee867.12f5c8","name":"","server":"34918666.3e5b7a","x":2291,"y":234,"wires":[]},{"id":"b08940f2.8f967","type":"http in","z":"a07ee867.12f5c8","name":"Readings QA","url":"readings_quality","method":"post","upload":false,"swaggerDoc":"","x":98,"y":268,"wires":[["ca6fac92.f38bc","91709af8.e30db8"]]},{"id":"91709af8.e30db8","type":"http response","z":"a07ee867.12f5c8","name":"","statusCode":"200","headers":{},"x":210,"y":397,"wires":[]},{"id":"970f2350.9dbfc","type":"http in","z":"a07ee867.12f5c8","name":"Quality Counts","url":"quality_counts","method":"get","upload":false,"swaggerDoc":"","x":112.00000762939453,"y":946.7499799728394,"wires":[["ce713928.c32c28"]]},{"id":"646eff48.5be1c","type":"switch","z":"a07ee867.12f5c8","name":"RouteResults","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1871,"y":341.0000305175781,"wires":[["8d294a96.cbdb98"],["8a8afe39.6425c"]]},{"id":"6eac60a7.abfb3","type":"sqliteapes","z":"a07ee867.12f5c8","mydb":"afd2a436.1513e8","name":"SumCellsD","x":1673.3334197998047,"y":362.6666898727417,"wires":[["646eff48.5be1c"]]},{"id":"ce713928.c32c28","type":"function","z":"a07ee867.12f5c8","name":"Get Counts Quality","func":"var query = \"SELECT sum(day_i) AS 'total_day', sum(month_i) AS 'total_month', sum(year_i) AS 'total_year', sum(month_r) AS 'total_month_r' FROM cells ;\";\nmsg.topic = query;     \nreturn msg;","outputs":1,"noerr":0,"x":333.33333587646484,"y":880.6388635635376,"wires":[["78750534.2da7ec"]]},{"id":"78750534.2da7ec","type":"sqliteapes","z":"a07ee867.12f5c8","mydb":"afd2a436.1513e8","name":"CellsTable","x":519.0000076293945,"y":935.7499799728394,"wires":[["c04473bc.be842"]]},{"id":"c04473bc.be842","type":"function","z":"a07ee867.12f5c8","name":"Get Cells","func":"if(msg.payload.length > 0){\n    msg.topic = \"\";\n    msg.payload = msg.payload[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":694.0000076293945,"y":908.7499799728394,"wires":[["3efdd19f.fd84ce"]]},{"id":"3efdd19f.fd84ce","type":"http response","z":"a07ee867.12f5c8","name":"","statusCode":"200","headers":{},"x":861.0000076293945,"y":876.7499799728394,"wires":[]},{"id":"41cacadb.01ef04","type":"function","z":"a07ee867.12f5c8","name":"ParserMemory","func":"var sprintf = context.global.get('sprintfjs');\nif(!msg.payload.error){\n    for(var i=0; i < msg.payload.readings.length; i++){\n        msg.payload.readings[i].user_memory = msg.payload.readings[i].user_memory.replace(/\\s/g,'');\n        var mm = parseInt(msg.payload.readings[i].user_memory, 16);\n        var sp = sprintf('%012d', mm);\n        msg.payload.readings[i].user_memory = sp;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":607,"y":372,"wires":[["c285b203.c0b8a"]]},{"id":"c285b203.c0b8a","type":"function","z":"a07ee867.12f5c8","name":"Cell & Order","func":"if(msg.payload.readings.length > 0){\n    for(var i=0; i < msg.payload.readings.length; i++){\n        var cell = msg.payload.readings[i].user_memory.slice(1,4);\n        cell = parseInt(cell);\n        if(cell === 0){\n            cell = 24;\n        }\n        var order = msg.payload.readings[i].user_memory.slice(4,12);\n        order = parseInt(order);\n        msg.payload.readings[i].cell = cell;\n        msg.payload.readings[i].order = order;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":709,"y":261,"wires":[["c95accd6.0ef15","21571096.05166"]]},{"id":"c95accd6.0ef15","type":"function","z":"a07ee867.12f5c8","name":"search order","func":"if(msg.payload.readings.length > 0){\n    var readings = msg.payload.readings;\n    var orders = [];\n    var orders_x = [];\n    for(var i=0; i < readings.length; i++){\n        var order = {\"order\":readings[i].order, \"epcs\": []};\n        if(orders_x.indexOf(readings[i].order) < 0){\n            orders_x.push(readings[i].order);\n            order.epcs.push(readings[i].epc);\n            orders.push(order);\n        }else {\n            var pos = orders_x.indexOf(readings[i].order);\n            orders[pos].epcs.push(readings[i].epc);\n        }\n        if(i == (readings.length -1)){\n            msg.orders = orders;\n        }\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":888.7500114440918,"y":525.0000076293945,"wires":[["c832e535.d3fef8"]]},{"id":"1ff751e3.1c69fe","type":"debug","z":"a07ee867.12f5c8","name":"Message","active":true,"console":"false","complete":"true","x":2231,"y":539,"wires":[]},{"id":"c832e535.d3fef8","type":"function","z":"a07ee867.12f5c8","name":"count order","func":"if(msg.orders.length > 0){\n    for(var i=0; i < msg.orders.length; i++){\n        msg.orders[i].count = msg.orders[i].epcs.length;\n        if(i == (msg.orders.length - 1)){\n            return msg;\n        }\n    }\n    \n}\n","outputs":1,"noerr":0,"x":1104,"y":506,"wires":[["808bfc89.439b5"]]},{"id":"808bfc89.439b5","type":"function","z":"a07ee867.12f5c8","name":"select orders","func":"if(msg.orders.length > 0){\n    var query = \"SELECT * FROM production_orders WHERE\";\n    for(var i=0; i < msg.orders.length; i++){\n        if(i === 0){\n            query = query + \" number=\"+ msg.orders[i].order;\n        }else if(i == (msg.orders.length-1)){\n            query = query + \" OR number=\"+ msg.orders[i].order + \";\";\n        }else {\n            query = query + \" OR number=\"+ msg.orders[i].order;\n        }\n    }\n    \n    msg.topic = query; \n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1276,"y":570,"wires":[["1db6bc32.2f9784"]]},{"id":"1db6bc32.2f9784","type":"sqliteapes","z":"a07ee867.12f5c8","mydb":"afd2a436.1513e8","name":"GetOrders","x":1452,"y":514,"wires":[["b3c8bd5.72e6f4"]]},{"id":"b3c8bd5.72e6f4","type":"function","z":"a07ee867.12f5c8","name":"count orders","func":"if(msg.payload.length > 0){\n   var orders = msg.payload;\n   var orders_r = msg.orders;\n    for(var i=0; i<orders.length; i++){\n        for(var j=0; j<orders_r.length; j++){\n            if(orders[i].number === orders_r[j].order){\n                orders[i].count = orders[i].count + orders_r[j].count;\n            }\n            if((i === (orders.length -1 )) && (j === (orders_r.length - 1))){\n                msg.payload = orders;\n                return msg\n            }\n        }\n    }\n    \n    \n}","outputs":1,"noerr":0,"x":1641,"y":582,"wires":[["54505d32.646cf4","e17e0ab7.a007e8"]]},{"id":"54505d32.646cf4","type":"function","z":"a07ee867.12f5c8","name":"update orders","func":"msg.topic = [];\nif(msg.payload.length > 0){\n   var orders = msg.payload;\n   for(var i=0; i<orders.length; i++){\n        var q = \"UPDATE production_orders SET count = \" + msg.payload[i].count + \" WHERE number=\"+ msg.payload[i].number + \";\";\n        msg.topic.push(q);\n        \n    }\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":1851,"y":550,"wires":[["4cf26a2e.d088e4"]]},{"id":"4cf26a2e.d088e4","type":"sqliteapes","z":"a07ee867.12f5c8","mydb":"afd2a436.1513e8","name":"UpdateOrders","x":2050,"y":585,"wires":[["1ff751e3.1c69fe"]]},{"id":"e17e0ab7.a007e8","type":"function","z":"a07ee867.12f5c8","name":"Orders Count","func":"msg.socketIOEvent = 'orders count';\nif(msg.payload.length > 0){\n    msg.payload = {\n        message: msg.payload\n    };\n    RED.util.setMessageProperty(msg, \"socketIOEmit\", \"emit\", true);\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":1857,"y":682,"wires":[["19b31a76.cd2da6"]]},{"id":"19b31a76.cd2da6","type":"socketio-apes-out","z":"a07ee867.12f5c8","name":"","server":"34918666.3e5b7a","x":2071,"y":708,"wires":[]},{"id":"afd2a436.1513e8","type":"sqlitedbapes","z":"","db":"/home/andresciceri/Projects/sqlite/displays_portal"},{"id":"34918666.3e5b7a","type":"socketio-apes-config","z":"","port":"80","sendClient":"true","path":"/socket.io","bindToNode":true}]