clients/mhz/portal-pantallas-cedi.json
[{"id":"817de0c9.ff3d7","type":"tab","label":"Portal Pantallas CEDI","disabled":false,"info":"Registra el paso de tags por el portal y \ngenera datos para las pantallas en tiempo real"},{"id":"57df80f9.0eef1","type":"http in","z":"817de0c9.ff3d7","name":"Readings CEDI","url":"readings_cedi","method":"post","upload":false,"swaggerDoc":"","x":128.75,"y":300,"wires":[["279b42f.9a77fbe","c024aa45.f603e8"]]},{"id":"279b42f.9a77fbe","type":"http response","z":"817de0c9.ff3d7","name":"","statusCode":"200","headers":{},"x":327.5,"y":413.75,"wires":[]},{"id":"c024aa45.f603e8","type":"function","z":"817de0c9.ff3d7","name":"Save EPCs","func":"if(msg.req.body){\n    var obj = msg.req.body;\n    msg.payload = obj;\n    if(msg.payload.readings.length > 0){\n        var mac = msg.payload.mac_address;\n        var date = msg.payload.timestamp;\n        var query = \"INSERT INTO epcs_warehouse (epc,u_memory,tid,mac,date) VALUES\\n\";\n        for(var i=0; i< msg.payload.readings.length; i++){\n            if(i == (msg.payload.readings.length -1)){\n                query = query + \"('\" + msg.payload.readings[i].epc + \"','\" + msg.payload.readings[i].user_memory + \"','\" + msg.payload.readings[i].tid + \"','\" + mac + \"',\" + date + \");\";\n            }else{\n                query = query + \"('\" + msg.payload.readings[i].epc + \"','\" + msg.payload.readings[i].user_memory + \"','\" + msg.payload.readings[i].tid + \"','\" + mac + \"',\" + date + \"),\\n\";    \n            }\n        }\n        msg.topic = query; \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":208.75,"wires":[["488a070d.8de968"]]},{"id":"488a070d.8de968","type":"sqliteapes","z":"817de0c9.ff3d7","mydb":"afd2a436.1513e8","name":"EPCsTable","x":552.5,"y":232.5,"wires":[["7c3a9aca.4c6214"]]},{"id":"7c3a9aca.4c6214","type":"switch","z":"817de0c9.ff3d7","name":"RouteResults","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":727.5,"y":285,"wires":[["212f65e0.24fa8a"],["c0061652.7e18e8"]]},{"id":"212f65e0.24fa8a","type":"debug","z":"817de0c9.ff3d7","name":"Message","active":true,"console":"false","complete":"true","x":865,"y":131.25,"wires":[]},{"id":"45b5c2db.cf844c","type":"http in","z":"817de0c9.ff3d7","name":"CEDI Counts","url":"cedi_counts","method":"get","upload":false,"swaggerDoc":"","x":127,"y":686,"wires":[["7e0925e2.aeb69c"]]},{"id":"7e0925e2.aeb69c","type":"function","z":"817de0c9.ff3d7","name":"Get Counts Cedi","func":"var query = \"SELECT sum(day) AS 'total_day', sum(month) AS 'total_month', sum(year) AS 'total_year' FROM cedi;\";\nmsg.topic = query;     \nreturn msg;","outputs":1,"noerr":0,"x":358.3333282470703,"y":619.8888835906982,"wires":[["eb585c9a.daadb"]]},{"id":"eb585c9a.daadb","type":"sqliteapes","z":"817de0c9.ff3d7","mydb":"afd2a436.1513e8","name":"CellsTable","x":544,"y":675,"wires":[["f9497108.8ead7"]]},{"id":"f9497108.8ead7","type":"function","z":"817de0c9.ff3d7","name":"Get Cells","func":"if(msg.payload.length > 0){\n    msg.topic = \"\";\n    msg.payload = msg.payload[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":719,"y":648,"wires":[["6dc62536.8cb10c"]]},{"id":"6dc62536.8cb10c","type":"http response","z":"817de0c9.ff3d7","name":"","statusCode":"200","headers":{},"x":886,"y":616,"wires":[]},{"id":"c0061652.7e18e8","type":"function","z":"817de0c9.ff3d7","name":"ParserMemory","func":"var sprintf = context.global.get('sprintfjs');\nif(!msg.payload.error){\n    for(var i=0; i < msg.payload.readings.length; i++){\n        msg.payload.readings[i].user_memory = msg.payload.readings[i].user_memory.replace(/\\s/g,'');\n        var mm = parseInt(msg.payload.readings[i].user_memory, 16);\n        var sp = sprintf('%012d', mm);\n        msg.payload.readings[i].user_memory = sp;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":937,"y":352,"wires":[["6607eff2.4a633"]]},{"id":"6607eff2.4a633","type":"function","z":"817de0c9.ff3d7","name":"Cell & Order","func":"if(msg.payload.readings.length > 0){\n    for(var i=0; i < msg.payload.readings.length; i++){\n        var cell = msg.payload.readings[i].user_memory.slice(1,4);\n        cell = parseInt(cell);\n        var order = msg.payload.readings[i].user_memory.slice(4,12);\n        msg.payload.readings[i].cell = cell;\n        msg.payload.readings[i].order = order;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1039,"y":241,"wires":[["b229739.ef7a19","f2059161.5361a"]]},{"id":"b229739.ef7a19","type":"function","z":"817de0c9.ff3d7","name":"Get Cells","func":"msg.topic = \"\";\nif(msg.payload.readings.length > 0){\n    msg.data = msg.payload;\n    var query = \"SELECT * FROM cedi WHERE id=1;\";\n\n    msg.topic = query; \n}\nreturn msg;","outputs":1,"noerr":0,"x":1147,"y":363.6666564941406,"wires":[["25da43fc.ffb84c"]]},{"id":"25da43fc.ffb84c","type":"sqliteapes","z":"817de0c9.ff3d7","mydb":"afd2a436.1513e8","name":"CellsTables","x":1308,"y":319,"wires":[["7470d3ac.5aa66c"]]},{"id":"7470d3ac.5aa66c","type":"function","z":"817de0c9.ff3d7","name":"Count Cell","func":"msg.topic = [];\nif(msg.payload.length > 0){\n    for (var i = 0; i < msg.payload.length; i++) {\n        for (var j = 0; j < msg.data.readings.length; j++) {\n                msg.payload[i].day++;\n                msg.payload[i].month++;\n                msg.payload[i].year++;\n                if(j == (msg.data.readings.length -1)){\n                    var q = \"UPDATE cedi SET day = \" + msg.payload[i].day + \", month = \" + msg.payload[i].month + \", year = \" + msg.payload[i].year + \" WHERE id=\"+ msg.payload[i].id + \";\";\n                    msg.topic.push(q);\n                }\n            \n        }\n        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1463,"y":395,"wires":[["598cd25d.5c496c"]]},{"id":"598cd25d.5c496c","type":"sqliteapes","z":"817de0c9.ff3d7","mydb":"afd2a436.1513e8","name":"CellsCount","x":1608.333251953125,"y":295.3333435058594,"wires":[["71941a5b.3e3ca4"]]},{"id":"71941a5b.3e3ca4","type":"switch","z":"817de0c9.ff3d7","name":"RouteResults","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1765,"y":187,"wires":[["d8ecde6b.d01f1"],["7cbaa9fa.5f8c88"]]},{"id":"7cbaa9fa.5f8c88","type":"function","z":"817de0c9.ff3d7","name":"Sum Cells","func":"msg.topic = \"\";\nvar msg_1 = {};\nvar msg_2 = {};\nvar msg_3 = {};\nif(msg.payload.length > 0){\n    \n    var query_1 = \"SELECT sum(day) AS 'total_day' FROM cedi ;\";\n    msg_1.topic = query_1;\n    msg_1.payload = msg.payload;\n    msg_1.socketIOEvent = msg.socketIOEvent;\n    msg_1.data = msg.data;\n}\nreturn msg_1;\n","outputs":"1","noerr":0,"x":1941.666748046875,"y":382.9999694824219,"wires":[["96181c81.46fab"]]},{"id":"d8ecde6b.d01f1","type":"debug","z":"817de0c9.ff3d7","name":"Message","active":true,"console":"false","complete":"true","x":2021.0001220703125,"y":141.33332061767578,"wires":[]},{"id":"96181c81.46fab","type":"sqliteapes","z":"817de0c9.ff3d7","mydb":"afd2a436.1513e8","name":"SumCellsD","x":2138.0001678466797,"y":340.6666898727417,"wires":[["265e3803.4925e8"]]},{"id":"265e3803.4925e8","type":"switch","z":"817de0c9.ff3d7","name":"RouteResults","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":2375,"y":318,"wires":[["9fcab667.a42178"],["8bcbc8d3.588238"]]},{"id":"9fcab667.a42178","type":"debug","z":"817de0c9.ff3d7","name":"Message","active":true,"console":"false","complete":"true","x":2612,"y":420.9999694824219,"wires":[]},{"id":"8bcbc8d3.588238","type":"function","z":"817de0c9.ff3d7","name":"Days Counter","func":"msg.socketIOEvent = 'days cedi';\nif(msg.payload.length > 0){\n    msg.payload = {\n        message: msg.payload[0]\n    };\n    RED.util.setMessageProperty(msg, \"socketIOEmit\", \"emit\", true);\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":2587.333251953125,"y":244.9999771118164,"wires":[["a658ebb3.314138"]]},{"id":"a658ebb3.314138","type":"socketio-apes-out","z":"817de0c9.ff3d7","name":"","server":"34918666.3e5b7a","x":2822,"y":214.99996948242188,"wires":[]},{"id":"f2059161.5361a","type":"function","z":"817de0c9.ff3d7","name":"search order","func":"if(msg.payload.readings.length > 0){\n    var readings = msg.payload.readings;\n    var orders = [];\n    var orders_x = [];\n    for(var i=0; i < readings.length; i++){\n        var order = {\"order\":readings[i].order, \"epcs\": []};\n        if(orders_x.indexOf(readings[i].order) < 0){\n            orders_x.push(readings[i].order);\n            order.epcs.push(readings[i].epc);\n            orders.push(order);\n        }else {\n            var pos = orders_x.indexOf(readings[i].order);\n            orders[pos].epcs.push(readings[i].epc);\n        }\n        if(i == (readings.length -1)){\n            msg.orders = orders;\n        }\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1165,"y":511,"wires":[["efcbb69.62a6b48"]]},{"id":"efcbb69.62a6b48","type":"function","z":"817de0c9.ff3d7","name":"count order","func":"if(msg.orders.length > 0){\n    for(var i=0; i < msg.orders.length; i++){\n        msg.orders[i].count = msg.orders[i].epcs.length;\n        if(i == (msg.orders.length - 1)){\n            return msg;\n        }\n    }\n    \n}\n","outputs":1,"noerr":0,"x":1380.2499885559082,"y":491.99999237060547,"wires":[["35697dd1.522312"]]},{"id":"35697dd1.522312","type":"function","z":"817de0c9.ff3d7","name":"select orders","func":"if(msg.orders.length > 0){\n    var query = \"SELECT * FROM production_orders WHERE\";\n    for(var i=0; i < msg.orders.length; i++){\n        if(i === 0){\n            query = query + \" number=\"+ msg.orders[i].order;\n        }else if(i == (msg.orders.length-1)){\n            query = query + \" OR number=\"+ msg.orders[i].order + \";\";\n        }else {\n            query = query + \" OR number=\"+ msg.orders[i].order;\n        }\n    }\n    \n    msg.topic = query; \n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1552.2499885559082,"y":555.9999923706055,"wires":[["b97a14eb.5fb5c8"]]},{"id":"b97a14eb.5fb5c8","type":"sqliteapes","z":"817de0c9.ff3d7","mydb":"afd2a436.1513e8","name":"GetOrders","x":1728.2499885559082,"y":499.99999237060547,"wires":[["b7c8fda1.fc209"]]},{"id":"b7c8fda1.fc209","type":"function","z":"817de0c9.ff3d7","name":"count orders","func":"if(msg.payload.length > 0){\n   var orders = msg.payload;\n   var orders_r = msg.orders;\n    for(var i=0; i<orders.length; i++){\n        for(var j=0; j<orders_r.length; j++){\n            if(orders[i].number === orders_r[j].order){\n                orders[i].count = orders[i].count + orders_r[j].count;\n            }\n            if((i === (orders.length -1 )) && (j === (orders_r.length - 1))){\n                msg.payload = orders;\n                return msg\n            }\n        }\n    }\n    \n    \n}","outputs":1,"noerr":0,"x":1917.2499885559082,"y":567.9999923706055,"wires":[["70997efa.a2c6f"]]},{"id":"70997efa.a2c6f","type":"function","z":"817de0c9.ff3d7","name":"Orders Count","func":"msg.socketIOEvent = 'orders count cedi';\nif(msg.payload.length > 0){\n    msg.payload = {\n        message: msg.payload\n    };\n    RED.util.setMessageProperty(msg, \"socketIOEmit\", \"emit\", true);\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":2112.25,"y":634,"wires":[["abef1dd5.12c9a"]]},{"id":"abef1dd5.12c9a","type":"socketio-apes-out","z":"817de0c9.ff3d7","name":"","server":"34918666.3e5b7a","x":2337.25,"y":650,"wires":[]},{"id":"afd2a436.1513e8","type":"sqlitedbapes","z":"","db":"/home/andresciceri/Projects/sqlite/displays_portal"},{"id":"34918666.3e5b7a","type":"socketio-apes-config","z":"","port":"80","sendClient":"true","path":"/socket.io","bindToNode":true}]