clients/mhz/portal-pantallas-calidad.json
[{"id":"d8183fa8.abd08","type":"tab","label":"Portal Pantallas Calidad","disabled":false,"info":"Registra el paso de tags por el portal y \ngenera datos para las pantallas en tiempo real"},{"id":"93b98d39.c970d","type":"function","z":"d8183fa8.abd08","name":"Days Counter","func":"msg.socketIOEvent = 'days quality';\nif(msg.payload.length > 0){\n    msg.payload = {\n        message: msg.payload[0]\n    };\n    RED.util.setMessageProperty(msg, \"socketIOEmit\", \"emit\", true);\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":2780,"y":320,"wires":[["50fbf1df.f82c8"]]},{"id":"87840059.e25cb","type":"function","z":"d8183fa8.abd08","name":"Save EPCs","func":"var entry = msg.infoReading;\nvar mac = entry.node_id;\nvar date = entry.timestamp;\nvar query = \"INSERT INTO epcs (epc,u_memory,tid,mac,date) VALUES\\n\";\nfor(var i=0; i< entry.readings.length; i++){\n    if(i == (entry.readings.length -1)){\n        query = query + \"('\" + entry.readings[i].epc + \"','\" + entry.readings[i].user_memory + \"','\" + entry.readings[i].tid + \"','\" + mac + \"',\" + date + \");\";\n    }else{\n        query = query + \"('\" + entry.readings[i].epc + \"','\" + entry.readings[i].user_memory + \"','\" + entry.readings[i].tid + \"','\" + mac + \"',\" + date + \"),\\n\";    \n    }\n}\nmsg.topic = query; \nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["cfad56a5.595cb8"]]},{"id":"7d57636.9bf679c","type":"sqliteapes","z":"d8183fa8.abd08","mydb":"137938f7.bfbd97","name":"CellsTables","x":1470,"y":280,"wires":[["678a4e93.c820b"]]},{"id":"cfad56a5.595cb8","type":"sqliteapes","z":"d8183fa8.abd08","mydb":"137938f7.bfbd97","name":"EPCsTable","x":590,"y":60,"wires":[["2f35f99f.022596"]]},{"id":"f2571379.969e5","type":"debug","z":"d8183fa8.abd08","name":"Message","active":true,"console":"false","complete":"true","x":980,"y":80,"wires":[]},{"id":"2f35f99f.022596","type":"switch","z":"d8183fa8.abd08","name":"RouteResults","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":780,"y":120,"wires":[["f2571379.969e5"],["5b00b14a.42e5e"]]},{"id":"db63dfb7.86afb","type":"function","z":"d8183fa8.abd08","name":"Get Cells","func":"msg.topic = \"\";\nif(msg.payload.readings.length > 0){\n    msg.data = msg.payload;\n    var query = \"SELECT * FROM cells WHERE\";\n    for(var i=0; i < msg.payload.readings.length; i++){\n        if(i === 0){\n            query = query + \" supplier_id=\"+ msg.payload.readings[i].supplier;\n        }else if(i == (msg.payload.readings.length-1)){\n            query = query + \" OR supplier_id=\"+ msg.payload.readings[i].supplier + \";\";\n        }else {\n            query = query + \" OR supplier_id=\"+ msg.payload.readings[i].supplier;\n        }\n    }\n    msg.topic = query; \n}\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":260,"wires":[["7d57636.9bf679c"]]},{"id":"678a4e93.c820b","type":"function","z":"d8183fa8.abd08","name":"Count Cell","func":"msg.topic = [];\nif(msg.payload.length > 0){\n    for (var i = 0; i < msg.payload.length; i++) {\n        for (var j = 0; j < msg.data.readings.length; j++) {\n            if(msg.data.readings[j].supplier === msg.payload[i].id){\n                msg.payload[i].day_i++;\n                msg.payload[i].month_i++;\n                msg.payload[i].year_i++;\n            }\n            if(j === (msg.data.readings.length -1)){\n                var q = \"UPDATE cells SET day_i = \" + msg.payload[i].day_i + \", month_i = \" + msg.payload[i].month_i + \", year_i = \" + msg.payload[i].year_i + \" WHERE id=\"+ msg.payload[i].id + \";\";\n                msg.topic.push(q);\n            }\n        }\n        if(i === (msg.payload.length - 1)){\n            return msg;\n        }\n    }\n}","outputs":1,"noerr":0,"x":1650,"y":340,"wires":[["3ecdc2e4.f2181e"]]},{"id":"5a26ed9d.73f504","type":"switch","z":"d8183fa8.abd08","name":"RouteResults","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":2040,"y":180,"wires":[["ea1231eb.f04ce"],["49cd880f.b987f8"]]},{"id":"ea1231eb.f04ce","type":"debug","z":"d8183fa8.abd08","name":"Message","active":true,"console":"false","complete":"true","x":2180,"y":120,"wires":[]},{"id":"3ecdc2e4.f2181e","type":"sqliteapes","z":"d8183fa8.abd08","mydb":"137938f7.bfbd97","name":"CellsCount","x":1850,"y":260,"wires":[["5a26ed9d.73f504"]]},{"id":"49cd880f.b987f8","type":"function","z":"d8183fa8.abd08","name":"Sum Cells","func":"msg.topic = \"\";\nvar msg_1 = {};\nif(msg.payload.length > 0){\n    \n    var query_1 = \"SELECT sum(day_i) AS 'total_day' FROM cells ;\";\n    msg_1.topic = query_1;\n    msg_1.payload = msg.payload;\n    msg_1.socketIOEvent = msg.socketIOEvent;\n    msg_1.data = msg.data;\n}\nreturn msg_1;","outputs":"1","noerr":0,"x":2210,"y":260,"wires":[["7e0d8e3e.b7438"]]},{"id":"91cf0eb4.fd327","type":"debug","z":"d8183fa8.abd08","name":"Message","active":true,"console":"false","complete":"true","x":2780,"y":200,"wires":[]},{"id":"50fbf1df.f82c8","type":"socketio-apes-out","z":"d8183fa8.abd08","name":"","server":"14d2d7b6.79d7f8","x":2980,"y":260,"wires":[]},{"id":"cb2ecdd8.e64e1","type":"http in","z":"d8183fa8.abd08","name":"Readings QA","url":"readings_quality","method":"post","upload":false,"swaggerDoc":"","x":98,"y":268,"wires":[["f79d9701.5b2b18","68d712ad.0f51ec"]]},{"id":"f79d9701.5b2b18","type":"http response","z":"d8183fa8.abd08","name":"","statusCode":"200","headers":{},"x":210,"y":397,"wires":[]},{"id":"ebc4f481.e740f8","type":"http in","z":"d8183fa8.abd08","name":"Quality Counts","url":"quality_counts","method":"get","upload":false,"swaggerDoc":"","x":112.00000762939453,"y":946.7499799728394,"wires":[["534fd16c.25451"]]},{"id":"84d616e5.c6b3e8","type":"switch","z":"d8183fa8.abd08","name":"RouteResults","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":2580,"y":260,"wires":[["91cf0eb4.fd327"],["93b98d39.c970d"]]},{"id":"7e0d8e3e.b7438","type":"sqliteapes","z":"d8183fa8.abd08","mydb":"137938f7.bfbd97","name":"SumCellsD","x":2390,"y":200,"wires":[["84d616e5.c6b3e8"]]},{"id":"534fd16c.25451","type":"function","z":"d8183fa8.abd08","name":"Get Counts Quality","func":"var query = \"SELECT sum(day_i) AS 'total_day', sum(month_i) AS 'total_month', sum(year_i) AS 'total_year', sum(month_r) AS 'total_month_r' FROM cells ;\";\nmsg.topic = query;     \nreturn msg;","outputs":1,"noerr":0,"x":333.33333587646484,"y":880.6388635635376,"wires":[["62b23d2b.fbdcb4"]]},{"id":"62b23d2b.fbdcb4","type":"sqliteapes","z":"d8183fa8.abd08","mydb":"137938f7.bfbd97","name":"CellsTable","x":519.0000076293945,"y":935.7499799728394,"wires":[["b254f432.030818"]]},{"id":"b254f432.030818","type":"function","z":"d8183fa8.abd08","name":"Get Cells","func":"if(msg.payload.length > 0){\n    msg.topic = \"\";\n    msg.payload = msg.payload[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":694.0000076293945,"y":908.7499799728394,"wires":[["f1bb0538.d9cb98"]]},{"id":"f1bb0538.d9cb98","type":"http response","z":"d8183fa8.abd08","name":"","statusCode":"200","headers":{},"x":861.0000076293945,"y":876.7499799728394,"wires":[]},{"id":"5b00b14a.42e5e","type":"function","z":"d8183fa8.abd08","name":"ParserMemory","func":"var sprintf = context.global.get('sprintfjs');\nif(!msg.payload.error){\n    for(var i=0; i < msg.payload.readings.length; i++){\n        msg.payload.readings[i].user_memory = msg.payload.readings[i].user_memory.replace(/\\s/g,'');\n        var mm = parseInt(msg.payload.readings[i].user_memory, 16);\n        var sp = sprintf('%020d', mm);\n        msg.payload.readings[i].user_memory = sp;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":160,"wires":[["b327eb8c.52f6b8"]]},{"id":"b327eb8c.52f6b8","type":"function","z":"d8183fa8.abd08","name":"Cell & Order","func":"if(msg.payload.readings.length > 0){\n    for(var i=0; i < msg.payload.readings.length; i++){\n        if(msg.payload.readings[i].user_memory.length === 20){\n            if(parseInt(msg.payload.readings[i].user_memory.slice(2,5))){\n                msg.payload.readings[i].state = msg.payload.readings[i].user_memory.slice(0,2); \n                msg.payload.readings[i].state = parseInt(msg.payload.readings[i].state);\n                msg.payload.readings[i].customer = msg.payload.readings[i].user_memory.slice(2,5);\n                msg.payload.readings[i].customer = parseInt(msg.payload.readings[i].customer);\n                msg.payload.readings[i].supplier = msg.payload.readings[i].user_memory.slice(5,9);\n                msg.payload.readings[i].supplier = parseInt(msg.payload.readings[i].supplier);\n                msg.payload.readings[i].batch_type = msg.payload.readings[i].user_memory.slice(9,11);\n                msg.payload.readings[i].batch_type = parseInt(msg.payload.readings[i].batch_type);\n                msg.payload.readings[i].batch_number = msg.payload.readings[i].user_memory.slice(11,20);\n                msg.payload.readings[i].batch_number = parseInt(msg.payload.readings[i].batch_number);                \n            }else {\n                msg.payload.readings[i].batch_type = msg.payload.readings[i].user_memory.slice(8,9);\n                msg.payload.readings[i].batch_type = parseInt(msg.payload.readings[i].batch_type);\n                msg.payload.readings[i].supplier = msg.payload.readings[i].user_memory.slice(9,12);\n                msg.payload.readings[i].supplier = parseInt(msg.payload.readings[i].supplier);\n                if(msg.payload.readings[i].supplier === 0){\n                    msg.payload.readings[i].supplier = 24;\n                }\n                msg.payload.readings[i].batch_number = msg.payload.readings[i].user_memory.slice(12,20);\n                msg.payload.readings[i].batch_number = parseInt(msg.payload.readings[i].batch_number);\n            }\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":200,"wires":[["db63dfb7.86afb","f20a2dcc.04cba"]]},{"id":"f20a2dcc.04cba","type":"function","z":"d8183fa8.abd08","name":"search order","func":"if(msg.payload.readings.length > 0){\n    var readings = msg.payload.readings;\n    var orders = [];\n    var orders_x = [];\n    for(var i=0; i < readings.length; i++){\n        var order = {\"order\":readings[i].batch_number, \"epcs\": []};\n        if(orders_x.indexOf(readings[i].batch_number) < 0){\n            orders_x.push(readings[i].batch_number);\n            order.epcs.push(readings[i].epc);\n            orders.push(order);\n        }else {\n            var pos = orders_x.indexOf(readings[i].batch_number);\n            orders[pos].epcs.push(readings[i].epc);\n        }\n        if(i == (readings.length -1)){\n            msg.orders = orders;\n        }\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":380,"wires":[["681d7a3f.5571c4"]]},{"id":"765d3b8e.e7eb54","type":"debug","z":"d8183fa8.abd08","name":"Message","active":true,"console":"false","complete":"true","x":2540,"y":480,"wires":[]},{"id":"681d7a3f.5571c4","type":"function","z":"d8183fa8.abd08","name":"count order","func":"if(msg.orders.length > 0){\n    for(var i=0; i < msg.orders.length; i++){\n        msg.orders[i].count = msg.orders[i].epcs.length;\n        if(i == (msg.orders.length - 1)){\n            return msg;\n        }\n    }\n    \n}\n","outputs":1,"noerr":0,"x":1470,"y":440,"wires":[["2911a66e.5db3ba"]]},{"id":"2911a66e.5db3ba","type":"function","z":"d8183fa8.abd08","name":"select orders","func":"if(msg.orders.length > 0){\n    var query = \"SELECT * FROM production_orders WHERE\";\n    for(var i=0; i < msg.orders.length; i++){\n        if(i === 0){\n            query = query + \" number=\"+ msg.orders[i].order;\n        }else if(i == (msg.orders.length-1)){\n            query = query + \" OR number=\"+ msg.orders[i].order + \";\";\n        }else {\n            query = query + \" OR number=\"+ msg.orders[i].order;\n        }\n    }\n    \n    msg.topic = query; \n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":500,"wires":[["d8bf3c35.fb766"]]},{"id":"d8bf3c35.fb766","type":"sqliteapes","z":"d8183fa8.abd08","mydb":"137938f7.bfbd97","name":"GetOrders","x":1790,"y":460,"wires":[["5350973d.bb3d38"]]},{"id":"5350973d.bb3d38","type":"function","z":"d8183fa8.abd08","name":"count orders","func":"if(msg.payload.length > 0){\n   var orders = msg.payload;\n   var orders_r = msg.orders;\n    for(var i=0; i<orders.length; i++){\n        for(var j=0; j<orders_r.length; j++){\n            if(orders[i].number === orders_r[j].order){\n                orders[i].count = orders[i].count + orders_r[j].count;\n            }\n            if((i === (orders.length -1 )) && (j === (orders_r.length - 1))){\n                msg.payload = orders;\n                return msg\n            }\n        }\n    }\n    \n    \n}","outputs":1,"noerr":0,"x":1970,"y":520,"wires":[["a44f332c.e036c","85741026.fa9a7"]]},{"id":"85741026.fa9a7","type":"function","z":"d8183fa8.abd08","name":"update orders","func":"msg.topic = [];\nif(msg.payload.length > 0){\n   var orders = msg.payload;\n   for(var i=0; i<orders.length; i++){\n        var q = \"UPDATE production_orders SET count = \" + msg.payload[i].count + \" WHERE number=\"+ msg.payload[i].number + \";\";\n        msg.topic.push(q);\n        \n    }\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":2160,"y":480,"wires":[["4e49b9c4.8be168"]]},{"id":"4e49b9c4.8be168","type":"sqliteapes","z":"d8183fa8.abd08","mydb":"137938f7.bfbd97","name":"UpdateOrders","x":2350,"y":525,"wires":[["765d3b8e.e7eb54","92e334ba.27f458"]]},{"id":"a44f332c.e036c","type":"function","z":"d8183fa8.abd08","name":"Orders Count","func":"msg.socketIOEvent = 'orders count';\nif(msg.payload.length > 0){\n    msg.payload = {\n        message: msg.payload\n    };\n    RED.util.setMessageProperty(msg, \"socketIOEmit\", \"emit\", true);\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":2157,"y":622,"wires":[["57f0e136.d105d"]]},{"id":"57f0e136.d105d","type":"socketio-apes-out","z":"d8183fa8.abd08","name":"","server":"14d2d7b6.79d7f8","x":2371,"y":648,"wires":[]},{"id":"f04d1a91.2c1878","type":"debug","z":"d8183fa8.abd08","name":"Message","active":true,"console":"false","complete":"true","x":4140,"y":660,"wires":[]},{"id":"91051e19.5154f","type":"function","z":"d8183fa8.abd08","name":"Orders Count","func":"msg.socketIOEvent = 'skus count';\nif(msg.payload.length > 0){\n    msg.payload = {\n        message: msg.payload\n    };\n    RED.util.setMessageProperty(msg, \"socketIOEmit\", \"emit\", true);\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":3880,"y":540,"wires":[["aa960839.63b9a8"]]},{"id":"aa960839.63b9a8","type":"socketio-apes-out","z":"d8183fa8.abd08","name":"","server":"14d2d7b6.79d7f8","x":4160,"y":520,"wires":[]},{"id":"95807503.277c98","type":"function","z":"d8183fa8.abd08","name":"update lines","func":"msg.topic = [];\nif(msg.payload.length > 0){\n   var lines = msg.payload;\n   for(var i=0; i<lines.length; i++){\n        var q = \"UPDATE order_lines SET count = \" + lines[i].count + \" WHERE id=\"+ lines[i].id + \";\";\n        msg.topic.push(q);\n    }\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":3670,"y":660,"wires":[["356045c9.f61f3a","91051e19.5154f"]]},{"id":"356045c9.f61f3a","type":"sqliteapes","z":"d8183fa8.abd08","mydb":"137938f7.bfbd97","name":"UpdateLines","x":3910,"y":620,"wires":[["f04d1a91.2c1878"]]},{"id":"64d77501.ebe33c","type":"inject","z":"d8183fa8.abd08","name":"Days","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":103,"y":1151,"wires":[["b4cb1b11.c62fa8"]]},{"id":"93063cef.c2e1e","type":"inject","z":"d8183fa8.abd08","name":"Months","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":113,"y":1214,"wires":[["590bee8f.98823"]]},{"id":"be5789d7.280148","type":"inject","z":"d8183fa8.abd08","name":"Years","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":113,"y":1273,"wires":[["9cff4bc0.e75528"]]},{"id":"5d17e6a4.b9a668","type":"function","z":"d8183fa8.abd08","name":"update cell days","func":"msg.topic = \"\";\nvar q = \"UPDATE cells SET day_i = 0, day_r = 0\";\nmsg.topic = q;\nreturn msg;\n","outputs":1,"noerr":0,"x":951,"y":1153,"wires":[["a356a0c.824c56"]]},{"id":"590bee8f.98823","type":"function","z":"d8183fa8.abd08","name":"update cells months","func":"msg.topic = \"\";\nvar q = \"UPDATE cells SET month_i = 0, month_r = 0\";\nmsg.topic = q;\nreturn msg;\n","outputs":1,"noerr":0,"x":568,"y":1200,"wires":[["a356a0c.824c56"]]},{"id":"9cff4bc0.e75528","type":"function","z":"d8183fa8.abd08","name":"update cells years","func":"msg.topic = \"\";\nvar q = \"UPDATE cells SET year_i = 0, year_r = 0\";\nmsg.topic = q;\nreturn msg;\n","outputs":1,"noerr":0,"x":561,"y":1268,"wires":[["a356a0c.824c56"]]},{"id":"a356a0c.824c56","type":"sqliteapes","z":"d8183fa8.abd08","mydb":"137938f7.bfbd97","name":"update cells","x":1011,"y":1237,"wires":[["a015f422.ffc368"]]},{"id":"a015f422.ffc368","type":"debug","z":"d8183fa8.abd08","name":"","active":true,"console":"false","complete":"true","x":1152,"y":1308,"wires":[]},{"id":"b4cb1b11.c62fa8","type":"function","z":"d8183fa8.abd08","name":"Get Cells","func":"msg.topic = \"\";\nvar query = \"SELECT cl.name, cl.day_i FROM cells as cl\";\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":1145,"wires":[["6d64eea4.c84d1"]]},{"id":"6d64eea4.c84d1","type":"sqliteapes","z":"d8183fa8.abd08","mydb":"137938f7.bfbd97","name":"cells","x":526,"y":1122,"wires":[["5b70b967.0006a8"]]},{"id":"5b70b967.0006a8","type":"function","z":"d8183fa8.abd08","name":"create history","func":"msg.topic = \"\";\nif(msg.payload.length > 0){\n    var query = \"INSERT INTO cells_history_day (cell,count,date) VALUES\\n\";\n    var today = Date.now();\n    for(var i=0; i< msg.payload.length; i++){\n        if(i == (msg.payload.length -1)){\n            query = query + \"('\" + msg.payload[i].name + \"',\" + msg.payload[i].day_i + \",\" + today + \");\";\n        }else{\n            query = query + \"('\" + msg.payload[i].name + \"',\" + msg.payload[i].day_i + \",\" + today + \"),\\n\";    \n        }\n    }\n    msg.topic = query;\n}\nreturn msg;","outputs":1,"noerr":0,"x":685,"y":1077,"wires":[["2b2cab6d.8e4c24"]]},{"id":"2b2cab6d.8e4c24","type":"sqliteapes","z":"d8183fa8.abd08","mydb":"137938f7.bfbd97","name":"cells","x":914,"y":1055,"wires":[["5d17e6a4.b9a668"]]},{"id":"68d712ad.0f51ec","type":"function","z":"d8183fa8.abd08","name":"EPCs to List","func":"if(msg.req.body){\n    msg.infoReading = msg.req.body;\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["87840059.e25cb"]]},{"id":"3e191de7.6c8c72","type":"function","z":"d8183fa8.abd08","name":"Select Order Lines","func":"msg.topic = \"\";\nif(msg.payload && msg.order){\n    for(var i=0; i < msg.order.parses.length; i ++){\n        for(var j=0; j < msg.payload.length; j ++){\n            if(msg.payload[j].sku == msg.order.parses[i].ean){\n                msg.payload[j].count++;\n            }\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":3410,"y":640,"wires":[["95807503.277c98"]]},{"id":"4babac8.5a15254","type":"sqliteapes","z":"d8183fa8.abd08","mydb":"137938f7.bfbd97","name":"LinesOrders","x":2770,"y":540,"wires":[["d9567f25.6c5bb"]]},{"id":"92e334ba.27f458","type":"function","z":"d8183fa8.abd08","name":"Select Order Lines","func":"if(msg.orders){\n    msg.topic = \"\";\n    var query = \"SELECT count(ol.sku) count_sku, ol.quantity, ol.sku, ol.display_name, ol.count, po.number, ol.id FROM production_orders as po LEFT JOIN order_lines as ol ON ol.production_order = po.id WHERE\";\n    for(var i=0; i < msg.orders.length; i++){\n        if(i === 0 && i < (msg.orders.length - 1)){\n            query = query + \" po.number='\"+ msg.orders[i].order + \"'\";\n        }else if(i === 0 && i == (msg.orders.length-1)){\n            query = query + \" po.number='\"+ msg.orders[i].order + \"' GROUP BY ol.sku, po.number, ol.display_name, ol.id, ol.count, ol.quantity;\";\n        }else if(i == (msg.orders.length-1)){\n            query = query + \" OR po.number='\"+ msg.orders[i].order + \"' GROUP BY ol.sku, po.number, ol.display_name, ol.id, ol.count, ol.quantity;\";\n        }else {\n            query = query + \" OR po.number='\"+ msg.orders[i].order + \"'\";\n        }\n    }\n    msg.topic = query;\n    console.log(msg.topic);\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":2550,"y":580,"wires":[["4babac8.5a15254"]]},{"id":"74687017.9eaef","type":"function","z":"d8183fa8.abd08","name":"get Sku by EPC","func":"var epcnode = context.global.get('nodeepc');\nif(msg.order.epcs.length > 0){\n    epcnode.parse(msg.order.epcs)\n    .then(function(parsed) {\n\t\t    msg.order.parses = parsed.parts;\n\t\t    node.send(msg);\n    });\n}\nreturn;","outputs":1,"noerr":0,"x":3200,"y":560,"wires":[["3e191de7.6c8c72"]]},{"id":"d9567f25.6c5bb","type":"function","z":"d8183fa8.abd08","name":"orders skus epcs","func":"if(msg.orders.length > 0){\n    for(var i=0; i < msg.orders.length; i++){\n        var or_ = {order: msg.orders[i].order, epcs: []};\n        or_.epcs = msg.orders[i].epcs;\n        msg.order = or_;\n        var newMessage = RED.util.cloneMessage(msg);\n        node.send(newMessage);\n    }\n    return;\n}","outputs":1,"noerr":0,"x":2970,"y":620,"wires":[["74687017.9eaef"]]},{"id":"137938f7.bfbd97","type":"sqlitedbapes","z":"","db":"/home/andresciceri/Projects/sqlite/displays_portal"},{"id":"14d2d7b6.79d7f8","type":"socketio-apes-config","z":"","port":"80","sendClient":"true","path":"/socket.io","bindToNode":true}]