clients/mhz/sync-orders.json
[{"id":"b5a307a7.422188","type":"tab","label":"Sync Orders","disabled":false,"info":""},{"id":"1d60f3c7.64e19c","type":"function","z":"b5a307a7.422188","name":"Save Orders","func":"if(msg.payload.results){\n    var query = \"INSERT INTO production_orders (source_name,destination_name,cell_name,status,prefix,number,created,type) VALUES\\n\";\n    for(var i=0; i< msg.payload.results.length; i++){\n        if(i == (msg.payload.results.length -1)){\n            query = query + \"('\" + msg.payload.results[i].quality_location.display_name + \"','\" + msg.payload.results[i].end_location.display_name + \"','\" + msg.payload.results[i].supplier.name + \"','\"  + msg.payload.results[i].status + \"','\" + msg.payload.results[i].prefix + \"',\" + msg.payload.results[i].number + \",'\" + msg.payload.results[i].created + \"',0);\";\n        }else{\n            query = query + \"('\" + msg.payload.results[i].quality_location.display_name + \"','\" + msg.payload.results[i].end_location.display_name + \"','\" + msg.payload.results[i].supplier.name + \"','\" + msg.payload.results[i].status + \"','\" + msg.payload.results[i].prefix + \"',\" + msg.payload.results[i].number + \",'\" + msg.payload.results[i].created + \"', 0),\\n\";    \n        }\n    }\n    msg.topic = query; \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":280,"wires":[["a49ba68.3850958"]]},{"id":"56a62e6e.e992a","type":"debug","z":"b5a307a7.422188","name":"","active":true,"console":"false","complete":"true","x":1410,"y":260,"wires":[]},{"id":"a49ba68.3850958","type":"sqliteapes","z":"b5a307a7.422188","mydb":"80ef3f46.089a6","name":"orders","x":1010,"y":340,"wires":[["bc35cfc1.46bd5"]]},{"id":"e3b49ffc.1a527","type":"function","z":"b5a307a7.422188","name":"Save Lines","func":"if(msg.payload.results.length > 0){\n    var lines = msg.payload.results;\n    var query = \"INSERT INTO order_lines (quantity,production_order,sku) VALUES\\n\";\n    for(var i=0; i< lines.length; i++){\n            if(i == (lines.length -1)){\n                query = query + \"(\" + lines[i].amount + \",\" + lines[i].production_order + \",'\" + lines[i].sku + \"');\";\n            }else{\n                query = query + \"(\" + lines[i].amount + \",\" + lines[i].production_order + \",'\" + lines[i].sku + \"'),\\n\";    \n            }\n    }\n    msg.topic = query; \n}\nreturn msg;","outputs":1,"noerr":0,"x":2050,"y":480,"wires":[["481cc6dc.8fd6c8"]]},{"id":"bc35cfc1.46bd5","type":"switch","z":"b5a307a7.422188","name":"RouteResults","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1200,"y":340,"wires":[["56a62e6e.e992a"],["7f0df95d.818808"]]},{"id":"481cc6dc.8fd6c8","type":"sqliteapes","z":"b5a307a7.422188","mydb":"80ef3f46.089a6","name":"lines","x":2230,"y":500,"wires":[["5b0dd8de.18a988"]]},{"id":"8ad53f28.4331b","type":"switch","z":"b5a307a7.422188","name":"RouteResults","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1320,"y":1640,"wires":[["11b38c60.cf2d94"],["ef87a92e.8a0ba8"]]},{"id":"11b38c60.cf2d94","type":"debug","z":"b5a307a7.422188","name":"","active":true,"console":"false","complete":"true","x":1506,"y":1513,"wires":[]},{"id":"ef87a92e.8a0ba8","type":"function","z":"b5a307a7.422188","name":"Save epcs","func":"var obj = msg.req.body;\nmsg.payload = obj;\nif(msg.payload.results.length > 0){\n    var orders = msg.payload.results;\n    var query = \"INSERT INTO lines_epcs (epc,order_line) VALUES\\n\";\n    for(var j=0; j< orders.length; j++){\n        var lines = orders[j].lines.results;\n        for(var i=0; i< lines.length; i++){\n            if(lines[i].epc_list.length > 0){\n                var epcs = lines[i].epc_list;\n                for(var k=0; k< epcs.length; k++){\n                    if((j == (orders.length -1)) && (i == (lines.length -1)) && (k == (epcs.length -1))){\n                        query = query + \"('\" + epcs[k] + \"',\" + lines[i].id + \");\";\n                    }else{\n                        query = query + \"('\" + epcs[k] + \"',\" + lines[i].id + \"),\\n\";    \n                    } \n                }\n            }\n        }\n    }\n    msg.topic = query; \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1526,"y":1713,"wires":[["c7becca4.b4dff"]]},{"id":"c7becca4.b4dff","type":"sqliteapes","z":"b5a307a7.422188","mydb":"80ef3f46.089a6","name":"lines","x":1697,"y":1618,"wires":[["5ca6ca3.6c78734"]]},{"id":"5ca6ca3.6c78734","type":"switch","z":"b5a307a7.422188","name":"RouteResults","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1863,"y":1682,"wires":[["a01f2107.ebc04"],[]]},{"id":"a01f2107.ebc04","type":"debug","z":"b5a307a7.422188","name":"","active":true,"console":"false","complete":"true","x":2042,"y":1522,"wires":[]},{"id":"3da4c71a.97fb08","type":"inject","z":"b5a307a7.422188","name":"Prod. Orders Trigger","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":158,"y":108,"wires":[["4053e7db.df3c88"]]},{"id":"16b67026.384ec","type":"http request","z":"b5a307a7.422188","name":"","method":"GET","ret":"obj","url":"","tls":"","x":570,"y":320,"wires":[["b22cf033.45684"]]},{"id":"a1d4d839.003158","type":"function","z":"b5a307a7.422188","name":"Set Headers","func":"msg.headers = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"Token \" + msg.payload.auth_token\n};\nmsg.tokenData = msg.payload.auth_token;\n//msg.url = \"http://ec2-107-23-151-43.compute-1.amazonaws.com:8000/operations/production-orders/?page={{{page}}}\"\nmsg.url = msg.urlData;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["16b67026.384ec"]]},{"id":"5b0dd8de.18a988","type":"debug","z":"b5a307a7.422188","name":"","active":true,"console":"false","complete":"true","x":2310,"y":340,"wires":[]},{"id":"72b77d11.fd0e14","type":"http request","z":"b5a307a7.422188","name":"Get Token","method":"POST","ret":"obj","url":"http://ec2-107-23-151-43.compute-1.amazonaws.com:8000/auth/login/","tls":"","x":330,"y":300,"wires":[["a1d4d839.003158"]]},{"id":"4053e7db.df3c88","type":"function","z":"b5a307a7.422188","name":"Set User","func":"if(msg.payload.next){\n    msg.urlData = msg.payload.next\n}else {\n    msg.urlData = \"http://ec2-107-23-151-43.compute-1.amazonaws.com:8000/operations/production-orders/?page=1\"; \n}\n\nmsg.headers = {\n    \"content-type\": \"application/json\",\n    \"Accept\": \"application/json\"\n};\n\nmsg.payload = {\n  \"username\": \"andres_dev\",\n  \"password\": \"hugo_apes$\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":240,"wires":[["72b77d11.fd0e14"]]},{"id":"b22cf033.45684","type":"function","z":"b5a307a7.422188","name":"Get Data Orders","func":"if(msg.payload.count > 50){\n    var pag = (50 / msg.payload.count) + 1;\n    pag = pag.toFixed(0);\n    pag = parseInt(pag);\n    msg.page = pag;    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":440,"wires":[["643de6c7.34e908","1d60f3c7.64e19c"]]},{"id":"643de6c7.34e908","type":"switch","z":"b5a307a7.422188","name":"Validation page","property":"payload.next","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":540,"y":580,"wires":[["4053e7db.df3c88"]]},{"id":"6f1027.6fd9dfd8","type":"function","z":"b5a307a7.422188","name":"Set Headers","func":"if(msg.tokenData){\n    msg.headers = {\n      \"content-type\": \"application/json\",\n      \"authorization\": \"Token \" + msg.tokenData\n    };\n}\n\nvar order;\nif(msg.ordersList){\n    order = msg.ordersList.pop();\n    msg.orderNumber = order.id;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":380,"wires":[["1ba82462.7a344c"]]},{"id":"7f0df95d.818808","type":"function","z":"b5a307a7.422188","name":"Orders to List","func":"if(msg.payload.results){\n    msg.ordersList = msg.payload.results;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":400,"wires":[["6f1027.6fd9dfd8"]]},{"id":"1ba82462.7a344c","type":"http request","z":"b5a307a7.422188","name":"Get Order Lines","method":"GET","ret":"obj","url":"http://ec2-107-23-151-43.compute-1.amazonaws.com:8000/operations/production-orders/{{{orderNumber}}}/lines","tls":"","x":1840,"y":300,"wires":[["f7fdbdee.34c06","e3b49ffc.1a527"]]},{"id":"f7fdbdee.34c06","type":"switch","z":"b5a307a7.422188","name":"","property":"ordersList.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":1770,"y":500,"wires":[["6f1027.6fd9dfd8"]]},{"id":"63e7efe5.43a67","type":"function","z":"b5a307a7.422188","name":"Save Orders","func":"if(msg.payload.results){\n    var query = \"INSERT INTO production_orders (destination_name,cell_name,status,prefix,number,created, type) VALUES\\n\";\n    for(var i=0; i< msg.payload.results.length; i++){\n        if(i == (msg.payload.results.length -1)){\n            query = query + \"('\" + msg.payload.results[i].end_location.display_name + \"','\" + msg.payload.results[i].supplier.name + \"','\"  + msg.payload.results[i].status + \"','\" + msg.payload.results[i].prefix + \"',\" + msg.payload.results[i].number + \",'\" + msg.payload.results[i].created + \"', 1);\";\n        }else{\n            query = query + \"('\" + msg.payload.results[i].end_location.display_name + \"','\" + msg.payload.results[i].supplier.name + \"','\" + msg.payload.results[i].status + \"','\" + msg.payload.results[i].prefix + \"',\" + msg.payload.results[i].number + \",'\" + msg.payload.results[i].created + \"', 1),\\n\";    \n        }\n    }\n    msg.topic = query; \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":820,"wires":[["a49ba68.3850958"]]},{"id":"7b4f0474.bc9cbc","type":"http request","z":"b5a307a7.422188","name":"","method":"GET","ret":"obj","url":"","tls":"","x":570,"y":860,"wires":[["5d1a6c19.a0bde4"]]},{"id":"2c464c55.1c3ec4","type":"function","z":"b5a307a7.422188","name":"Set Headers","func":"msg.headers = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"Token \" + msg.payload.auth_token\n};\nmsg.tokenData = msg.payload.auth_token;\n//msg.url = \"http://ec2-107-23-151-43.compute-1.amazonaws.com:8000/operations/production-orders/?page={{{page}}}\"\nmsg.url = msg.urlData;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":760,"wires":[["7b4f0474.bc9cbc"]]},{"id":"5d1a6c19.a0bde4","type":"function","z":"b5a307a7.422188","name":"Get Data Orders","func":"if(msg.payload.count > 50){\n    var pag = (50 / msg.payload.count) + 1;\n    pag = pag.toFixed(0);\n    pag = parseInt(pag);\n    msg.page = pag;    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":980,"wires":[["b9018222.28e2f","63e7efe5.43a67"]]},{"id":"b9018222.28e2f","type":"switch","z":"b5a307a7.422188","name":"Validation page","property":"payload.next","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":540,"y":1120,"wires":[["9741c0ec.f598b"]]},{"id":"3e955727.e0c768","type":"http request","z":"b5a307a7.422188","name":"Get Token","method":"POST","ret":"obj","url":"http://ec2-107-23-151-43.compute-1.amazonaws.com:8000/auth/login/","tls":"","x":330,"y":840,"wires":[["2c464c55.1c3ec4"]]},{"id":"9741c0ec.f598b","type":"function","z":"b5a307a7.422188","name":"Set User","func":"if(msg.payload.next){\n    msg.urlData = msg.payload.next\n}else {\n    msg.urlData = \"http://ec2-107-23-151-43.compute-1.amazonaws.com:8000/operations/purchase-orders/?page=1\"; \n}\n\nmsg.headers = {\n    \"content-type\": \"application/json\",\n    \"Accept\": \"application/json\"\n};\n\nmsg.payload = {\n  \"username\": \"andres_dev\",\n  \"password\": \"hugo_apes$\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":780,"wires":[["3e955727.e0c768"]]},{"id":"1efc5bbe.7abd74","type":"inject","z":"b5a307a7.422188","name":"Prod. Orders Trigger","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"x":158,"y":648,"wires":[["9741c0ec.f598b"]]},{"id":"80ef3f46.089a6","type":"sqlitedbapes","z":"","db":"/home/andresciceri/Projects/sqlite/displays_portal"}]