clients/mhz/sync-orders.json
[{"id":"44cd0f57.44c63","type":"tab","label":"Sync Orders","disabled":false,"info":""},{"id":"3f827c45.622b44","type":"http in","z":"44cd0f57.44c63","name":"Orders","url":"production_orders","method":"post","upload":false,"swaggerDoc":"","x":89,"y":238,"wires":[["df7569ce.45c768","af6e44dd.52a198"]]},{"id":"af6e44dd.52a198","type":"function","z":"44cd0f57.44c63","name":"Save Orders","func":"if(msg.req.body){\n    var obj = msg.req.body;\n    msg.payload = obj;\n    if(msg.payload.results.length > 0){\n        var query = \"INSERT INTO production_orders (id,source_name,destination_name,type,status,prefix,number,created) VALUES\\n\";\n        for(var i=0; i< msg.payload.results.length; i++){\n            if(i == (msg.payload.results.length -1)){\n                query = query + \"(\" + msg.payload.results[i].id + \",'\" + msg.payload.results[i].source_name + \"','\" + msg.payload.results[i].destination_name + \"','\" + msg.payload.results[i].type + \"','\" + msg.payload.results[i].status + \"','\" + msg.payload.results[i].prefix + \"',\" + msg.payload.results[i].number + \",'\" + msg.payload.results[i].created + \"');\";\n            }else{\n                query = query + \"(\" + msg.payload.results[i].id + \",'\" + msg.payload.results[i].source_name + \"','\" + msg.payload.results[i].destination_name + \"','\" + msg.payload.results[i].type + \"','\" + msg.payload.results[i].status + \"','\" + msg.payload.results[i].prefix + \"'\" + msg.payload.results[i].number + \",'\" + msg.payload.results[i].created + \"'),\\n\";    \n            }\n        }\n        msg.topic = query; \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":279,"y":104,"wires":[["1251b7bb.a424f8"]]},{"id":"eb3fe4e5.384a38","type":"debug","z":"44cd0f57.44c63","name":"","active":true,"console":"false","complete":"true","x":792,"y":52,"wires":[]},{"id":"df7569ce.45c768","type":"http response","z":"44cd0f57.44c63","name":"","statusCode":"200","headers":{},"x":247,"y":342,"wires":[]},{"id":"1251b7bb.a424f8","type":"sqliteapes","z":"44cd0f57.44c63","mydb":"afd2a436.1513e8","name":"orders","x":418,"y":224,"wires":[["3716893c.293ae6"]]},{"id":"df948259.c79eb","type":"function","z":"44cd0f57.44c63","name":"Save Lines","func":"var obj = msg.req.body;\nmsg.payload = obj;\nif(msg.payload.results.length > 0){\n    var orders = msg.payload.results;\n    var query = \"INSERT INTO order_lines (id,quantity,status,created,production_order,sku) VALUES\\n\";\n    for(var j=0; j< orders.length; j++){\n        var lines = orders[j].lines.results;\n        for(var i=0; i< lines.length; i++){\n            console.log(i);\n            console.log(j);\n            if((j == (orders.length -1)) && (i == (lines.length -1))){\n                query = query + \"(\" + lines[i].id + \",\" + lines[i].quantity + \",'\" + lines[i].status + \"','\" + lines[i].created + \"',\" + lines[i].production_order + \",'\" + lines[i].sku + \"');\";\n            }else{\n                query = query + \"(\" + lines[i].id + \",\" + lines[i].quantity + \",'\" + lines[i].status + \"','\" + lines[i].created + \"',\" + lines[i].production_order + \",'\" + lines[i].sku + \"'),\\n\";    \n            }\n        }\n    }\n    \n    msg.topic = query; \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":762,"y":300,"wires":[["79dadb1c.c84fc4"]]},{"id":"3716893c.293ae6","type":"switch","z":"44cd0f57.44c63","name":"RouteResults","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":599,"y":161,"wires":[["eb3fe4e5.384a38"],["df948259.c79eb"]]},{"id":"79dadb1c.c84fc4","type":"sqliteapes","z":"44cd0f57.44c63","mydb":"afd2a436.1513e8","name":"lines","x":927,"y":238,"wires":[["8ebc2d12.3a18e"]]},{"id":"8ebc2d12.3a18e","type":"switch","z":"44cd0f57.44c63","name":"RouteResults","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1077,"y":358,"wires":[["5d723e9d.69ebb"],["eb4d65.75b49298"]]},{"id":"5d723e9d.69ebb","type":"debug","z":"44cd0f57.44c63","name":"","active":true,"console":"false","complete":"true","x":1263,"y":231,"wires":[]},{"id":"eb4d65.75b49298","type":"function","z":"44cd0f57.44c63","name":"Save epcs","func":"var obj = msg.req.body;\nmsg.payload = obj;\nif(msg.payload.results.length > 0){\n    var orders = msg.payload.results;\n    var query = \"INSERT INTO lines_epcs (epc,order_line) VALUES\\n\";\n    for(var j=0; j< orders.length; j++){\n        var lines = orders[j].lines.results;\n        for(var i=0; i< lines.length; i++){\n            if(lines[i].epc_list.length > 0){\n                var epcs = lines[i].epc_list;\n                for(var k=0; k< epcs.length; k++){\n                    if((j == (orders.length -1)) && (i == (lines.length -1)) && (k == (epcs.length -1))){\n                        query = query + \"('\" + epcs[k] + \"',\" + lines[i].id + \");\";\n                    }else{\n                        query = query + \"('\" + epcs[k] + \"',\" + lines[i].id + \"),\\n\";    \n                    } \n                }\n            }\n        }\n    }\n    msg.topic = query; \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1283,"y":431,"wires":[["28497e69.a61ad2"]]},{"id":"28497e69.a61ad2","type":"sqliteapes","z":"44cd0f57.44c63","mydb":"afd2a436.1513e8","name":"lines","x":1454,"y":336,"wires":[["fa5cb2c9.271ee"]]},{"id":"fa5cb2c9.271ee","type":"switch","z":"44cd0f57.44c63","name":"RouteResults","property":"error","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1620,"y":400,"wires":[["826eedcc.57738"],[]]},{"id":"826eedcc.57738","type":"debug","z":"44cd0f57.44c63","name":"","active":true,"console":"false","complete":"true","x":1799,"y":240,"wires":[]},{"id":"afd2a436.1513e8","type":"sqlitedbapes","z":"","db":"/home/andresciceri/Projects/sqlite/displays_portal"}]