clients/globo/globo-flows.json
[{"id":"d9d9435e.fa745","type":"tab","label":"Semaforo Portal","disabled":false,"info":"Autoriza el paso de EPCs por un portal."},{"id":"3a0a073f.cfe068","type":"tab","label":"Premarcado","disabled":false,"info":"Datos enviados por Globo sobre etiqueta de premarcado"},{"id":"6e4dc5ac.7f44ac","type":"tab","label":"USDA","disabled":false,"info":"Datos publicados por Globo sobre el USDA"},{"id":"9c8aa76b.10d008","type":"mongodb2","z":"","uri":"mongodb://ec2-54-157-35-213.compute-1.amazonaws.com:27017/orangutan-dev","name":"orangutan-dev","options":"","parallelism":"-1"},{"id":"107a6da.fcc6692","type":"sb-endpoint","z":"","connString":"Endpoint=sb://apes-globo.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=If1mNGB7tsDFcTTYN5K8FhxOqeeixCWAKZC7eIis9n0=","name":"Azure-SB"},{"id":"77b47b2c.8872c4","type":"sqlitedb","z":"","db":"/home/andresciceri/Projects/sqlite/globodata"},{"id":"afd2a436.1513e8","type":"sqlitedbapes","z":"","db":"/home/andresciceri/Projects/sqlite/globodata"},{"id":"66347a5.5124084","type":"http in","z":"d9d9435e.fa745","name":"EPC-IN","url":"epc-validator","method":"post","upload":false,"swaggerDoc":"","x":74.94448852539062,"y":38.00003242492676,"wires":[["599b559a.e2ca6c"]]},{"id":"4266e65e.7ff3b8","type":"function","z":"d9d9435e.fa745","name":"epc-validator","func":"var msg_1 = {};\nvar msg_2 = {};\nif (msg.payload.length > 0) {\n    var auth = true;\n    var obj = {\"resp\" : {\"auth\": auth}};\n    msg_1.payload = obj;\n    msg_2.payload = {\"resp\" : msg.payload[0]};\n}else {\n    var auth = false;\n    var obj = {\"resp\" : {\"auth\": auth}};\n    msg_1.payload = obj;\n    msg_2.payload = {\"resp\" : null};\n}\nmsg.payload = msg_1.payload;\nreturn [msg,msg_2];","outputs":"2","noerr":0,"x":816.9411659240723,"y":28.32645606994629,"wires":[["b1f938ee.f692b8","442fdc07.9652d4"],["4d217bdc.f75924"]],"outputLabels":["Out-Http","Out-Bus"]},{"id":"b1f938ee.f692b8","type":"http response","z":"d9d9435e.fa745","name":"OUT","statusCode":"200","headers":{},"x":1162.937614440918,"y":23.98612403869629,"wires":[]},{"id":"599b559a.e2ca6c","type":"function","z":"d9d9435e.fa745","name":"Query EPC","func":"var query = \"\";\nif(msg.req.body[\"epc_list\"]){\n    if(msg.req.body[\"epc_list\"].length > 0){\n        var epcs = msg.req.body[\"epc_list\"];\n        if(epcs.length > 0){\n            query = \"SELECT p.epc AS epc_p, p.psale_number AS psale_number_p, p.pack_number, p.marketer, p.serial_number, u.epc AS epc_u, u.psale_number AS psale_number_u, u.item_number, u.importer, u.serial_usda FROM premarked AS p INNER JOIN usda AS u ON p.pack_number = u.item_number WHERE p.epc='\" + epcs[0] + \"' AND u.epc='\"+ epcs[1] + \"'\";   \n        }   \n    }else{\n        query = null;\n    }\n}\nmsg.topic = query;\nreturn msg;","outputs":"1","noerr":0,"x":232.93756103515625,"y":98.65632247924805,"wires":[["11e7a33f.8575bd"]]},{"id":"577d8622.1e7308","type":"sb queue in","z":"d9d9435e.fa745","endpoint":"107a6da.fcc6692","queueName":"premarkedtags","timeout":"1800","isPeekLock":"false","name":"Premarked-Tag-Topic","x":116.94795227050781,"y":316.17365074157715,"wires":[["6a6da1f9.dfb17"]]},{"id":"6a6da1f9.dfb17","type":"function","z":"d9d9435e.fa745","name":"Query Premarked","func":"if(msg.payload.body){\n    var obj = JSON.parse(msg.payload.body);\n    var query = \"INSERT INTO premarked VALUES ('\" + obj.epc + \"', '\" + obj.psale_number + \"', \" + obj.pack_number + \", '\" + obj.marketer + \"', '\" + obj.serial_number + \"');\";\n    msg.topic = query; \n}\nreturn msg;","outputs":1,"noerr":0,"x":344.94444274902344,"y":396.6008176803589,"wires":[["ed2bd698.5fea78"]]},{"id":"99549d76.5b9eb","type":"sqlite","z":"d9d9435e.fa745","mydb":"77b47b2c.8872c4","name":"Select Data Tags","x":619.944465637207,"y":131.26401901245117,"wires":[["4266e65e.7ff3b8"]]},{"id":"1a360802.58d978","type":"sb queue out","z":"3a0a073f.cfe068","endpoint":"107a6da.fcc6692","queueName":"premarkedtags","queueCreate":true,"name":"Premarked-Tags-Topic","x":624.0417289733887,"y":77.88889503479004,"wires":[]},{"id":"8c31c6cb.cf1da8","type":"function","z":"3a0a073f.cfe068","name":"Msg Sender","func":"if(msg.req.body){\n    var obj = JSON.stringify(msg.req.body);\n    msg.payload = obj;\n}\nreturn msg;","outputs":1,"noerr":0,"x":347.0556106567383,"y":224.16662979125977,"wires":[["1a360802.58d978","833032fd.08f0b"]]},{"id":"96f685cf.7ba338","type":"http in","z":"3a0a073f.cfe068","name":"Premarked Tags","url":"tag-premarked","method":"post","upload":false,"swaggerDoc":"","x":124.00000762939453,"y":114.11108303070068,"wires":[["8c31c6cb.cf1da8"]]},{"id":"833032fd.08f0b","type":"debug","z":"3a0a073f.cfe068","name":"LOG","active":true,"console":"false","complete":"payload","x":614.9999809265137,"y":303.11110973358154,"wires":[]},{"id":"c22bf3e5.ba068","type":"sb queue out","z":"6e4dc5ac.7f44ac","endpoint":"107a6da.fcc6692","queueName":"usdatags","queueCreate":true,"name":"USDA-Tags-Topic","x":644.0417213439941,"y":149.88888549804688,"wires":[]},{"id":"31fd4e93.494b12","type":"function","z":"6e4dc5ac.7f44ac","name":"Msg Sender","func":"if(msg.req.body){\n    var obj = JSON.stringify(msg.req.body);\n    msg.payload = obj;\n}\nreturn msg;","outputs":1,"noerr":0,"x":377.05560302734375,"y":296.1666202545166,"wires":[["c22bf3e5.ba068","3e628e62.d275d2"]]},{"id":"22269b68.64f574","type":"http in","z":"6e4dc5ac.7f44ac","name":"USDA Tags","url":"tag-usda","method":"post","upload":false,"swaggerDoc":"","x":144,"y":186.11107349395752,"wires":[["31fd4e93.494b12"]]},{"id":"3e628e62.d275d2","type":"debug","z":"6e4dc5ac.7f44ac","name":"LOG","active":true,"console":"false","complete":"payload","x":644.9999732971191,"y":375.1111001968384,"wires":[]},{"id":"4a014fee.2e341","type":"sb queue in","z":"d9d9435e.fa745","endpoint":"107a6da.fcc6692","queueName":"usdatags","timeout":"1800","isPeekLock":"false","name":"USDA-Tag-Topic","x":102.89583587646484,"y":674.6666240692139,"wires":[["487581f0.c35ef"]]},{"id":"487581f0.c35ef","type":"function","z":"d9d9435e.fa745","name":"Query USDA","func":"if(msg.payload.body){\n    var obj = JSON.parse(msg.payload.body);\n    var query = \"INSERT INTO usda VALUES ('\" + obj.epc + \"', '\" + obj.psale_number + \"', \" + obj.item_number + \", '\" + obj.importer + \"', '\" + obj.serial_usda + \"');\";\n    msg.topic = query; \n}\nreturn msg;","outputs":1,"noerr":0,"x":348.892333984375,"y":622.0936965942383,"wires":[["ed2bd698.5fea78"]]},{"id":"2cbd4663.6192aa","type":"debug","z":"d9d9435e.fa745","name":"Log-SB","active":true,"console":"false","complete":"payload","x":874.8436965942383,"y":573.3817939758301,"wires":[]},{"id":"ed2bd698.5fea78","type":"sqlite","z":"d9d9435e.fa745","mydb":"77b47b2c.8872c4","name":"Insert Premarked & USDA Tags","x":606.9514617919922,"y":505.59733867645264,"wires":[["2cbd4663.6192aa"]]},{"id":"4186f0b6.ac46d","type":"sb queue out","z":"d9d9435e.fa745","endpoint":"107a6da.fcc6692","queueName":"usdachecked","queueCreate":true,"name":"USDA-Checks-Topic","x":1215.9445457458496,"y":154.79176139831543,"wires":[]},{"id":"4d217bdc.f75924","type":"switch","z":"d9d9435e.fa745","name":"Check USDA","property":"payload.resp","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":771.9480819702148,"y":266.6250419616699,"wires":[["3d8b279c.4f4fc8"],["2d582afd.43fba6"]]},{"id":"3d8b279c.4f4fc8","type":"function","z":"d9d9435e.fa745","name":"USDA Sender","func":"if(msg.payload){\n    var obj = msg.payload;\n    var date = Date.now();\n    var res = {\"serial_usda\" : obj.resp.serial_usda, \"date\" : date};\n    msg.payload = JSON.stringify(res);\n}\nreturn msg;","outputs":1,"noerr":0,"x":987.7153472900391,"y":180.48961925506592,"wires":[["4186f0b6.ac46d"]]},{"id":"442fdc07.9652d4","type":"debug","z":"d9d9435e.fa745","name":"LOG","active":true,"console":"false","complete":"true","x":1168.6735610961914,"y":89.88888931274414,"wires":[]},{"id":"2d582afd.43fba6","type":"debug","z":"d9d9435e.fa745","name":"LOG","active":true,"console":"false","complete":"payload","x":962.1180591583252,"y":342.8889446258545,"wires":[]},{"id":"11e7a33f.8575bd","type":"switch","z":"d9d9435e.fa745","name":"Check Query","property":"topic","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":432.8958930969238,"y":30.888912200927734,"wires":[["4266e65e.7ff3b8"],["99549d76.5b9eb"]]}]