clients/globo/globo-flows-premarked.json
[{"id":"1a360802.58d978","type":"sb queue out","z":"3a0a073f.cfe068","endpoint":"107a6da.fcc6692","queueName":"premarkedtags","queueCreate":true,"name":"Premarked-Tags-Topic","x":624.0417289733887,"y":77.88889503479004,"wires":[]},{"id":"8c31c6cb.cf1da8","type":"function","z":"3a0a073f.cfe068","name":"Msg Sender","func":"if(msg.req.body){\n    var obj = JSON.stringify(msg.req.body);\n    msg.payload = obj;\n}\nreturn msg;","outputs":1,"noerr":0,"x":347.0556106567383,"y":224.16662979125977,"wires":[["1a360802.58d978","833032fd.08f0b","4ac15fff.9a10a"]]},{"id":"96f685cf.7ba338","type":"http in","z":"3a0a073f.cfe068","name":"Premarked Tags","url":"tag-premarked","method":"post","upload":false,"swaggerDoc":"","x":124.00000762939453,"y":114.11108303070068,"wires":[["8c31c6cb.cf1da8"]]},{"id":"833032fd.08f0b","type":"debug","z":"3a0a073f.cfe068","name":"LOG","active":true,"console":"false","complete":"payload","x":614.9999809265137,"y":303.11110973358154,"wires":[]},{"id":"d07f92d3.2dfc5","type":"http response","z":"3a0a073f.cfe068","name":"Sender Response","statusCode":"200","headers":{},"x":855.9410095214844,"y":183.7361240386963,"wires":[]},{"id":"4ac15fff.9a10a","type":"function","z":"3a0a073f.cfe068","name":"Msg Response","func":"if(msg.payload !== null){\n    msg.payload = {\"response\" : \"OK\"};\n}\nreturn msg;","outputs":1,"noerr":0,"x":597.9444732666016,"y":207.71875,"wires":[["d07f92d3.2dfc5"]]},{"id":"107a6da.fcc6692","type":"sb-endpoint","z":"","connString":"Endpoint=sb://apes-globo.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=If1mNGB7tsDFcTTYN5K8FhxOqeeixCWAKZC7eIis9n0=","name":"Azure-SB"}]