clients/globo/globo-flows-semaforo.json
[{"id":"66347a5.5124084","type":"http in","z":"d9d9435e.fa745","name":"EPC-IN","url":"epc-validator","method":"post","upload":false,"swaggerDoc":"","x":74.94448852539062,"y":38.00003242492676,"wires":[["599b559a.e2ca6c","873d7524.17d8a8"]]},{"id":"4266e65e.7ff3b8","type":"function","z":"d9d9435e.fa745","name":"epc-validator","func":"var msg_1 = {};\nvar msg_2 = {};\nif (msg.payload.length > 0) {\n    var auth = true;\n    var obj = {\"resp\" : {\"auth\": auth}};\n    msg_1.payload = obj;\n    msg_2.payload = {\"resp\" : msg.payload[0]};\n}else {\n    var auth = false;\n    var obj = {\"resp\" : {\"auth\": auth}};\n    msg_1.payload = obj;\n    msg_2.payload = {\"resp\" : null};\n}\nmsg.payload = msg_1.payload;\nreturn [msg,msg_2];","outputs":"2","noerr":0,"x":816.9411659240723,"y":28.32645606994629,"wires":[["b1f938ee.f692b8","442fdc07.9652d4"],["4d217bdc.f75924"]],"outputLabels":["Out-Http","Out-Bus"]},{"id":"b1f938ee.f692b8","type":"http response","z":"d9d9435e.fa745","name":"OUT","statusCode":"200","headers":{},"x":1162.937614440918,"y":23.98612403869629,"wires":[]},{"id":"599b559a.e2ca6c","type":"function","z":"d9d9435e.fa745","name":"Query EPC","func":"var query = \"\";\nvar epc_pmk = null;\nvar epc_usda = null;\nif(msg.req.body[\"epc_list\"]){\n    if(msg.req.body[\"epc_list\"].length > 0){\n        var epcs_arr = msg.req.body[\"epc_list\"];\n        for(var i=0; i<epcs_arr.length; i++){\n            var spl = epcs_arr[i].split(\" \");\n            var res = spl[0] + spl[1];\n            if(res == \"3415D617\"){\n                epc_pmk = epcs_arr[i];\n            }else if(res == \"3415D646\"){\n                epc_usda = epcs_arr[i];\n            }\n        }\n        \n        if((epc_pmk !== null) && (epc_usda !== null)){\n            query = \"SELECT p.epc AS epc_p, p.psale_number AS psale_number_p, p.pack_number, p.marketer, p.serial_number, u.epc AS epc_u, u.psale_number AS psale_number_u, u.item_number, u.importer, u.serial_usda FROM premarked AS p INNER JOIN usda AS u ON p.pack_number = u.item_number WHERE p.epc='\" + epc_pmk + \"' AND u.epc='\"+ epc_usda + \"'\";   \n        }else {\n            query = null;\n        }   \n    }else{\n        query = null;\n    }\n}\nmsg.topic = query;\nreturn msg;","outputs":"1","noerr":0,"x":232.93756103515625,"y":98.65632247924805,"wires":[["11e7a33f.8575bd"]]},{"id":"577d8622.1e7308","type":"sb queue in","z":"d9d9435e.fa745","endpoint":"107a6da.fcc6692","queueName":"premarkedtags","timeout":"1800","isPeekLock":"false","name":"Premarked-Tag-Topic","x":116.94795227050781,"y":316.17365074157715,"wires":[["6a6da1f9.dfb17"]]},{"id":"6a6da1f9.dfb17","type":"function","z":"d9d9435e.fa745","name":"Query Premarked","func":"if(msg.payload.body){\n    var obj = JSON.parse(msg.payload.body);\n    var query = \"INSERT INTO premarked VALUES ('\" + obj.epc + \"', '\" + obj.psale_number + \"', \" + obj.pack_number + \", '\" + obj.marketer + \"', '\" + obj.serial_number + \"');\";\n    msg.topic = query; \n}\nreturn msg;","outputs":1,"noerr":0,"x":344.94444274902344,"y":396.6008176803589,"wires":[["ed2bd698.5fea78"]]},{"id":"99549d76.5b9eb","type":"sqlite","z":"d9d9435e.fa745","mydb":"77b47b2c.8872c4","name":"Select Data Tags","x":619.944465637207,"y":131.26401901245117,"wires":[["4266e65e.7ff3b8"]]},{"id":"4a014fee.2e341","type":"sb queue in","z":"d9d9435e.fa745","endpoint":"107a6da.fcc6692","queueName":"usdatags","timeout":"1800","isPeekLock":"false","name":"USDA-Tag-Topic","x":102.89583587646484,"y":674.6666240692139,"wires":[["487581f0.c35ef"]]},{"id":"487581f0.c35ef","type":"function","z":"d9d9435e.fa745","name":"Query USDA","func":"if(msg.payload.body){\n    var obj = JSON.parse(msg.payload.body);\n    var query = \"INSERT INTO usda VALUES ('\" + obj.epc + \"', '\" + obj.psale_number + \"', \" + obj.item_number + \", '\" + obj.importer + \"', '\" + obj.serial_usda + \"');\";\n    msg.topic = query; \n}\nreturn msg;","outputs":1,"noerr":0,"x":348.892333984375,"y":622.0936965942383,"wires":[["ed2bd698.5fea78"]]},{"id":"2cbd4663.6192aa","type":"debug","z":"d9d9435e.fa745","name":"Log-SB","active":true,"console":"false","complete":"payload","x":874.8436965942383,"y":573.3817939758301,"wires":[]},{"id":"ed2bd698.5fea78","type":"sqlite","z":"d9d9435e.fa745","mydb":"77b47b2c.8872c4","name":"Insert Premarked & USDA Tags","x":606.9514617919922,"y":505.59733867645264,"wires":[["2cbd4663.6192aa"]]},{"id":"4186f0b6.ac46d","type":"sb queue out","z":"d9d9435e.fa745","endpoint":"107a6da.fcc6692","queueName":"usdachecked","queueCreate":true,"name":"USDA-Checks-Topic","x":1215.9445457458496,"y":154.79176139831543,"wires":[]},{"id":"4d217bdc.f75924","type":"switch","z":"d9d9435e.fa745","name":"Check USDA","property":"payload.resp","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":771.9480819702148,"y":266.6250419616699,"wires":[["3d8b279c.4f4fc8"],["2d582afd.43fba6"]]},{"id":"3d8b279c.4f4fc8","type":"function","z":"d9d9435e.fa745","name":"USDA Sender","func":"if(msg.payload){\n    var obj = msg.payload;\n    var date = Date.now();\n    var res = {\"serial_usda\" : obj.resp.serial_usda, \"date\" : date};\n    msg.payload = JSON.stringify(res);\n}\nreturn msg;","outputs":1,"noerr":0,"x":987.7153472900391,"y":180.48961925506592,"wires":[["4186f0b6.ac46d","9e927a4f.81f538"]]},{"id":"442fdc07.9652d4","type":"debug","z":"d9d9435e.fa745","name":"LOG","active":true,"console":"false","complete":"payload","x":1168.6735610961914,"y":89.88888931274414,"wires":[]},{"id":"2d582afd.43fba6","type":"debug","z":"d9d9435e.fa745","name":"LOG","active":true,"console":"false","complete":"payload","x":962.1180591583252,"y":342.8889446258545,"wires":[]},{"id":"11e7a33f.8575bd","type":"switch","z":"d9d9435e.fa745","name":"Check Query","property":"topic","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":432.8958930969238,"y":30.888912200927734,"wires":[["4266e65e.7ff3b8"],["99549d76.5b9eb"]]},{"id":"9e927a4f.81f538","type":"debug","z":"d9d9435e.fa745","name":"LOG","active":true,"console":"false","complete":"payload","x":1174.895938873291,"y":234.88888931274414,"wires":[]},{"id":"873d7524.17d8a8","type":"debug","z":"d9d9435e.fa745","name":"LOG","active":true,"console":"false","complete":"payload","x":204.89588165283203,"y":192.88889122009277,"wires":[]},{"id":"107a6da.fcc6692","type":"sb-endpoint","z":"","connString":"Endpoint=sb://apes-globo.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=If1mNGB7tsDFcTTYN5K8FhxOqeeixCWAKZC7eIis9n0=","name":"Azure-SB"},{"id":"77b47b2c.8872c4","type":"sqlitedb","z":"","db":"/home/andresciceri/Projects/sqlite/globodata"}]