clients/globo/globo-flows-usda.json
[{"id":"c22bf3e5.ba068","type":"sb queue out","z":"6e4dc5ac.7f44ac","endpoint":"107a6da.fcc6692","queueName":"usdatags","queueCreate":true,"name":"USDA-Tags-Topic","x":644.0417213439941,"y":149.88888549804688,"wires":[]},{"id":"31fd4e93.494b12","type":"function","z":"6e4dc5ac.7f44ac","name":"Msg Sender","func":"if(msg.req.body){\n    var obj = JSON.stringify(msg.req.body);\n    msg.payload = obj;\n}\nreturn msg;","outputs":1,"noerr":0,"x":377.05560302734375,"y":296.1666202545166,"wires":[["c22bf3e5.ba068","3e628e62.d275d2","8dc6b63.a08bc48"]]},{"id":"22269b68.64f574","type":"http in","z":"6e4dc5ac.7f44ac","name":"USDA Tags","url":"tag-usda","method":"post","upload":false,"swaggerDoc":"","x":144,"y":186.11107349395752,"wires":[["31fd4e93.494b12"]]},{"id":"3e628e62.d275d2","type":"debug","z":"6e4dc5ac.7f44ac","name":"LOG","active":true,"console":"false","complete":"payload","x":644.9999732971191,"y":375.1111001968384,"wires":[]},{"id":"8dc6b63.a08bc48","type":"function","z":"6e4dc5ac.7f44ac","name":"Msg Response","func":"if(msg.payload !== null){\n    msg.payload = {\"response\" : \"OK\"};\n}\nreturn msg;","outputs":1,"noerr":0,"x":624.8958129882812,"y":288.8888854980469,"wires":[["30246906.b492b6"]]},{"id":"30246906.b492b6","type":"http response","z":"6e4dc5ac.7f44ac","name":"Sender Response","statusCode":"200","headers":{},"x":882.8923492431641,"y":264.90625953674316,"wires":[]},{"id":"107a6da.fcc6692","type":"sb-endpoint","z":"","connString":"Endpoint=sb://apes-globo.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=If1mNGB7tsDFcTTYN5K8FhxOqeeixCWAKZC7eIis9n0=","name":"Azure-SB"}]